<html>

<head>
	<title>Network Builder</title>


	<!-- JS Packages -->
	<script
		src="/js/Packages/React_v18_3_0.js"
	></script>
	<script
	src="/js/Packages/ReactDom_v18_3_0.js"
	></script>
	<script
	src="/js/Packages/Babel_v7_26_4.js"
	></script>
	<script
	src="/js/Packages/ReactFlow_v11_11_4.js"
	></script>


	<!--
		FROM ONLINE - NOT SAFE!!!!
	  	The frozen packages correspond to these versions
	-->
	<!-- <script
		src="https://www.unpkg.com/react@18.3.0/umd/react.production.min.js"
		crossorigin
	></script>
	<script
		src="https://unpkg.com/react-dom@18.3.0/umd/react-dom.production.min.js"
		crossorigin
	></script>
	<script
		src="https://unpkg.com/@babel/standalone@7.26.4/babel.min.js"
		crossorigin
	></script>
	<script
		src="https://unpkg.com/reactflow@11.11.4/dist/umd/index.js"
		crossorigin
	></script> -->



	<!-- Our JS Code -->
	<script
		src="/js/Builder/TensorNode.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/InvisibleNode.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/DimensionEdge.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/UploadOption.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/ContractOption.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/SVDOption.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/SplitEdges.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/ConnectEdges.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/Copy.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/Paste.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/Undo.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/Redo.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/QROption.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/LQOption.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/EigenvalueOption.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/Lanczos.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/DNDMenu.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/ColorMenu.js" type="text/babel"
	></script>
	<script
		src="/js/Builder/NetworkBuilder.js" type="text/babel"
	></script>
</head>

<body>
    <div class="flex-container1">
		<!-- Disgusting Hack! But it should work -->
		<div id="outputPath" name="outputPath" value="$(outputPath)"></div>
		<div id="backendError" name="backendError" value="$(error)"></div>

		<div id="networkDisplay"></div>
	</div>
</body>


</html>



