<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
    </head>

    <body>
        <div class="mainpage">
            <h1 class="title-text">
                Access and Create the most powerful tools in modern physics
            </h1>
            <div class="mainpage">
                Tensor networks algorithms allow physicists to model and analyze complex systems of particles

                <br>
                <br>


                <img 
                    src="/img/home/PEPS.png"
                    alt="Projected entangled pair states (PEPS)"
                    style="width:220px; height:auto;"
                >
                <img 
                    src="/img/home/MERA.png"
                    alt="Multiscale entanglement renormalization ansatz (MERA)"
                    style="width:180px; height:auto; padding-left:20px;"
                >
                <img 
                    src="/img/home/TRG.png"
                    alt="Tensor renormalization group (TRG)"
                    style="width:150px; height:auto; padding-left:20px;"
                >

                <br>
                <br>

                All computations are performed with the <a href="https://github.com/bakerte/DMRJtensor.jl" target="blank" rel="noopener noreferrer">DMRJtensor</a > and <a href="https://github.com/bakerte/TensorPACK.jl" target="blank" rel="noopener noreferrer">TensorPACK</a> Julia libraries

                <br>
                <br>

                With this website, you can run state-of-the-art tensor network algorithms and even create your own!
                
            </div>
            <h1 class="title-text" style="padding-top:60px">
                What's included?
            </h1>
            <div class="mainpage">
                Go to the <a href="runalgs">Run Algorithms</a> page to do just that! Currently, DMRG can be run to find the ground state energy and correlations of a given system. A default Hamiltonain, such as the Heisenberg model, or a custom Hamiltonian can be supplied as the system. 
                <br>
                ( <em>TRG, PEPS, and MERA coming soon</em> )

                <br>
                <br>

                <img
                    src="/img/home/DMRG_frame.jpg"
                    alt="Density matrix renormalization group (DMRG)"
                    style="width:300px; height:auto;"
                >


                <br>
                <br>
                <br>
                
                Contract and decompose tensors effortlessly with the <a href="build">Build a Tensor Network</a> page to design your own custom tensor network algorithms. Educate yourself on tensor network operations or test out new ideas for algorithms without the hassle of coding.

                <br>
                <br>

                <img
                    src="/img/home/Build_frame.png"
                    alt="Example photo for the 'Build a Tensor Network' feature"
                    style="width:500px; height:auto;"
                >
            </div>
            <h1 class="title-text" style="padding-top:60px">
                Getting Started
            </h1>

            <div class="mainpage"style="padding-bottom:250px">
                To learn more about our tools, check out the <a href="tutorial">Tutorial</a>
                <br>
                <br>
                For the <a href="runalgs">Algorithm Runner</a>, you will be shown how define a model, run DMRG on it, and interpret the output
                <br>
                <br>
                For the <a href="build">Tensor Network Builder</a>, you will be shown how to use each basic operation to perform tensor network computations
            </div>
        </div>
    </body>
</html>


