<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
    </head>

    <body>
        <div class="mainpage">
            <h1 class="title-text">
                Tutorial
            </h1>

            <div class="mainpage">
                <div>
                    The field of theoretical quantum physics is notoriously difficult to grasp, and information about it is often obfuscated in complex rhetoric. Leave that behind with <b>DMRGenie</b>!
                </div>
                <br/>
                <div>DMRGenie is intended to be a tool for research and education.</div>
                <div>Learn how to use its cutting edge features with this guide.</div>

                <img
                    src="/img/tutorial/DMRG_example.png"
                    alt="Density Matrix Renormalization Group (DMRG)"
                    style="width:650px; height:auto;"
                >
                <br/>
                <div>
                    To get up to speed on <b>Tensor Networks</b> check out these papers:

                    <div style="text-align: left; max-width: 65%; margin-left: auto; margin-right: auto;">
                        <ul>
                            <li>
                                <a
                                    href="https://arxiv.org/abs/1911.11566"
                                    target="blank"
                                    rel="noopener noreferrer"
                                >
                                    "Méthodes de calcul avec réseaux de tenseurs (Basic tensor network computations in physics)"
                                </a>
                                by T.E. Baker, S. Desrosiers, M. Tremblay, and M.P. Thompson, which includes both a <em>French and English</em> version.
                            </li>
                            <li>
                                <a
                                    href="https://www.usherbrooke.ca/physique/fileadmin/sites/physique/documents/Vulgarisation/20182/e2018_Samuel_Desrosiers.pdf"
                                    target="blank"
                                    rel="noopener noreferrer"
                                >
                                    "The basics of tensor networks: An overview of tensors and renormalization"
                                </a>
                                by S. Desrosiers, G.B. Evenbly, and T.E. Baker, a short paper on the fundamentals of tensor network algorithms.
                            </li>
                        </ul>
                    </div>
                </div>

                <img
                    src="/img/tutorial/DMRG_env.png"
                    alt="Density Matrix Renormalization Group (DMRG) environment"
                    style="width:150px; height:auto;"
                >
            </div>

            <div class="subpage">
                <h2 class="title-text" style="text-align: center">
                    Algorithm Runner
                </h2>
                <div>
                    The <a href="/runalgs">Algorithm Runner</a> allows you to run known tensor network algorithms without coding knowledge. Currently, the density matrix renormalization group (DMRG) algorithm is the only one available, but more are coming soon.

                    <br/>
                    <br/>
                    <h3 class="title-text">
                        DMRG
                    </h3>

                    <div style="max-width: 90%; margin-left: auto; margin-right: auto;">
                        <div>
                            This tutorial will guide you through running DMRG on known and custom models. Let's start by going over the basics of what everything means.
                        </div>

                        <br/>
                        <br/>
                        <div>
                            On the <a href="/runalgs">Algorithm Runner</a> page you will be met with the following option menu. Each option is as follows:
                        </div>
                        <section class="side_by_side">
                            <div class="left_side">
                                <img
                                class="side_image"
                                src="/img/tutorial/RunnerMenu.png"
                                alt="Main menu components"
                                style="width:100%; height:auto; padding-top:3%;"
                                >
                            </div>
                            <div class="right_side">
                                <ul>
                                    <li>
                                        <b>Hamiltonian:</b> The model which DMRG will be run on in Matrix Product Operator (MPO) form.
                                    </li>
                                    <li>
                                        <b>Compute Correlations:</b> Specify operators to be evaluated at each lattice site to receive tensors populated with correlation functions upon computation.
                                    </li>
                                    <li>
                                        <b>Symmetry:</b> Enforce quantum symmetries. Selecting this will run DMRG on a separate quantum model as well.
                                    </li>
                                    <li>
                                        <b>Number of Sites:</b> MPO terms, with a maximum of 15 allowed.
                                    </li>
                                </ul>
                            </div>
                        </section>

                        <br><br>

                        <div>
                            With the default options set, clicking <em>Run Algorithm</em> will run DMRG on the given model and the ground state energy will be given, as well as any other specified outputs.
                        </div>

                        <br/>
                        <h4 class="title-text">
                            <em>Hamiltonians</em>
                        </h4>

                        <div>
                            The 1-dimensional Ising spin model represents a system of particles with nearest-neighbour interactions along a line. A simple version of it can be expressed
                            <img
                                src="/img/tutorial/Ising.png"
                                alt="1-dimensional Ising model"
                                style="width:35%; height:auto; padding-top:3%;"
                                class="center_img"
                            >
                            where J is the coupling constant. A magnetic field can be imposed by adding the term with constant h, representing magnetic field strength,
                            <img
                                src="/img/tutorial/IsingMag.png"
                                alt="1-dimensional Ising model with magnetic interactions"
                                style="width:40%; height:auto; padding-top:3%;"
                                class="center_img"
                            >

                            The 1-dimensional Ising model shares some resemblance to the Heisenberg model, which can be expressed
                            <img
                                src="/img/tutorial/Heisenberg.png"
                                alt="The Heisenberg model"
                                style="width:75%; height:auto; padding-top:3%;"
                                class="center_img"
                            >
                            A magnetic field term can similarly be added on
                            <img
                                src="/img/tutorial/HeisenbergMag.png"
                                alt="The Heisenberg model with magnetic interactions"
                                style="width:75%; height:auto; padding-top:3%;"
                                class="center_img"
                            >
                            <br><br>


                            There are three built in models one can select from:
                            <ul>
                                <li>Heisenberg model</li>
                                <li>Hubbard model</li>
                                <li>t-J model</li>
                            </ul>
                                
                            Selecting and running one of these will construct them in MPO form then apply DMRG, giving the ground state energy of the system and any other specified information.

                            <h4 class="title-text">
                                <em>Constructing Custom Hamiltonians</em>
                            </h4>

                            Custom Hamiltonians can be specified and constructed as well. Let's consider the Hamiltonian of the 1-dimensional Ising model. Begin construction by selecting <em>Hamiltonian</em> -> <em>Custom</em>

                            <section class="side_by_side">
                                <div class="left_side">
                                    <img
                                    class="side_image"
                                    src="/img/tutorial/ModelMenu.png"
                                    alt="Model input section"
                                    style="width:100%; height:auto; padding-top:3%;"
                                    >
                                </div>
                                <div class="right_side">
                                    <ul>
                                        <li>
                                            <b>Physical dimension:</b> The dimension of the outward facing indices of MPO terms.
                                        </li>
                                        <li>
                                            <b>Hamiltonian constant:</b> Multiplicative constant applied to Hamiltonian sum.
                                        </li>
                                        <li>
                                            <b>Components:</b> Operators specified in Hamiltonian.
                                        </li>
                                    </ul>
                                </div>
                            </section>


                            The 1-dimensional Ising model with a coupling constant of J=0.5 can be input as
                            <img
                                src="/img/tutorial/IsingModel.png"
                                alt="1-dimensional Ising model setup"
                                style="width:50%; height:auto; padding-top:3%;"
                                class="center_img"
                            >
                            <br><br>

                            Then an external magnetic field with constants J=0.5 and h=0.05 can be imposed as
                            <img
                                src="/img/tutorial/IsingMagModel.png"
                                alt="1-dimensional Ising model setup with an external magnetic"
                                style="width:50%; height:auto; padding-top:3%;"
                                class="center_img"
                            >
                            <br><br>

                            Then for the Heisenberg model with J = 0.5 the input would be
                            <img
                                src="/img/tutorial/HeisenbergModel.png"
                                alt="1-dimensional Ising model setup with an external magnetic"
                                style="width:50%; height:auto; padding-top:3%;"
                                class="center_img"
                            >

                        </div>

                    </div>

                </div>
                
            </div>

            <div class="subpage" style="padding-bottom:250px">
                <h2 class="title-text" style="text-align: center">
                    Tensor Network Builder
                </h2>
                <div>
                    The <a href="/build"></a>Tensor Network Builder</a> allows you to craft novel tensor network algorithms and test your ideas. Effortlessly connect, contract, and decompose tensors on the canvas in seconds!
                </div>
                <br/>
                <br/>

                <img
                    src="/img/tutorial/builder.gif"
                    alt="GIF of the tensor network builder"
                    class="center_img"
                    style="width: 90%; height: auto"
                >
                <br/>
                <br/>

                The process boils down into two parts:
                <ol>
                    <li>
                        Specify all the steps by placing, contracting, and decomposing tensors.
                    </li>
                    <li>
                        Submit the steps to be run with <a href="https://github.com/bakerte/TensorPACK.jl" target="blank" rel="noopener noreferrer">TensorPACK</a> and receive the output.
                    </li>
                </ol>
                <br/>
                <br/>

                <h3 class="title-text">
                    Operations
                </h3>

                <div style="max-width: 90%; margin-left: auto; margin-right: auto;">
                    Below outlines how to apply each operation and then run the set of steps to obtain an output. 

                    <h4 class="title-text">
                        <em>Creating a Tensor</em>
                    </h4>
                    <div>
                        Tensors are created under the Drag and Drop section of the options menu. The rank of the tensor can be specified before the tensor is created. The rank can be from 0 and 4. Tensors made this was are initialized as random unitaries.
                    </div>

                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>Uploading a Tensor</em>
                    </h4>
                    <div>
                        Tensors can also be uploaded as well. To do this, index names and their corresponding dimensions must be provided. If the sizes are incorrect, then contraction will fail or give undesired results. Only text files are accepted, and their contents must be in Julia array syntax where one set of square braces encloses the tensor elements and semicolons are used to differentiate between indices (e.g. columns). This is the same syntax convention as output tensors are written in. 

                        <br/>
                        <br/>

                        For example, a 2 by 3 tensor should be input as
                        <br/>
                        <code>[6 1 2; 6 4 7]</code>

                        <br/>
                        <br/>

                        Or a 2 by 5 by 3 tensor should be input as
                        <br/>
                        <code>[9 7 1 9 8; 6 4 4 9 6;;;</code>
                        <br/>&nbsp;
                        <code>3 5 6 9 8; 4 6 3 9 1;;;</code>
                        <br/>&nbsp;
                        <code>7 3 3 5 9; 2 4 8 5 8]</code>

                        <br/>
                        <br/>

                        Or a 2 by 3 by 4 by 5 tensor should be input as
                        <br/>
                        <code>[8 3 9; 5 3 2;;; 5 9 5; 9 8 4;;; 2 7 7; 6 4 3;;;;</code>
                        <br/>&nbsp;
                        <code>7 1 1; 7 8 4;;; 2 2 3; 3 3 5;;; 6 1 1; 7 6 2;;;;</code>
                        <br/>&nbsp;
                        <code>3 6 7; 8 6 6;;; 4 9 9; 1 9 7;;; 8 4 1; 3 7 2;;;;</code>
                        <br/>&nbsp;
                        <code>5 9 9; 4 6 5;;; 2 7 7; 7 2 5;;; 9 2 3; 8 9 8]</code>

                        <br/>
                        <br/>

                        Code such as <code>println(rand(2, 3, 4))</code> should produce tensors of this format by default.
                    </div>

                    <br/>
                    <br/>
        
                    <h4 class="title-text">
                        <em>Connecting Tensors</em>
                    </h4>
                    <div>
                        Tensors can be connected by dragging between the points on any two tensors. However, there is a maximum of one connection per point. A free index can be created by dragging from a connection point to the network canvas.
                    </div>
                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>Contract</em>
                    </h4>
                    <div>
                        The Contract option accepts two tensor IDs and contracts them into one. Tensors can be contracted if they are connected to each other by an edge, or if each has a free index with a common name and dimension. If there are no common indices between two tensors then they cannot be contracted.
                    </div>
                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>Singular Value Decomposition (SVD)</em>
                    </h4>
                    <div>
                        The SVD option accepts the ID of a tensor and the desired grouping of indices. The operation will decompose tensor A as A = UDV, where D is a diagonal matrix and U and V are unitaries. The resulting tensors will be labelled accordingly.
                    </div>
                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>QR and LQ Decompositions</em>
                    </h4>
                    <div>
                        The QR decomposition accepts the ID of a tensor and the desired grouping of indices. The operation will decompose A as A = QR, where Q is orthogonal and R is an upper triangular when reshaped into a matrix.
                        <br/>
                        <br/>

                        The LQ decomposition is similar, except it decomposes as A = LQ where L is lower triangular when reshaped as a matrix.
                    </div>
                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>Eigenvalue Decomposition</em>
                    </h4>
                    <div>
                        The Eigenvalue decomposition accepts just the ID of a tensor. The tensor must be able to be reshaped into a square matrix. The result of the operation will result in a tensor of eigenvectors, its dual, and a diagonal tensor of eigenvalues.
                    </div>
                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>Split Index and Connect Index</em>
                    </h4>
                    <div>
                        Split Index accepts the name of an index. If two tensors are connected, then the connection will be turned into a free index for each tensor.
                        <br/>
                        <br/>
                        Connect Index accepts the name of two indices and connects them directly. The dimensions of the indices must match.
                    </div>
                    <br/>
                    <br/>

                    <h4 class="title-text">
                        <em>Run Network Steps</em>
                    </h4>
                    <div>
                        All the steps for the network will be run and the tensors resulting from the final step will be given in Julia array syntax in a text downloadable file.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


