<html>

<head>
	<title>Run Algorithms</title>

    <script src="/js/DMRGenie/Drawing.js"></script>
    <script src="/js/DMRGenie/HamiltonianForm.js"></script>
    <script src="/js/DMRGenie/ModelFields.js"></script>
    <script src="/js/DMRGenie/MethodFields.js"></script>
    <script src="/js/DMRGenie/MeasurementFields.js"></script>
    <script>
        window.onload = function() {
            // Initialize
            SystemChange()
            HideOrShowModelOptions()
            ShowRequiredOutputs()

            // Draw
            update();

            // Send an alert if there was bad input (Non urgent - let everything else load first)
            alert_message = document.getElementById("alert_message").value;
            if (alert_message) {
                alert(alert_message)
            }
        };
    </script>
</head>

<body>
    <div class="flex-container1">

        <div class="flex-container2">

            <form 
                action="/runalgs"
                method="POST"
                enctype="multipart/form-data"
                onsubmit="btnSubmit.disabled = true; loading(); return true;"
            >


                <!-- Hidden input containing alert message to be accessed by java script -->
                <input style="display:none;" type="text" id="alert_message" name="alert_message" value="$(alert_message)">

                <!----------->
                <!-- Model -->
                <!----------->
                <h3 style="text-align:center" class="menu-section-label">Model</h3>

                <div style="text-align:left; padding-right:50px; padding-left:10px; padding-top:20px" class="main-text">
                    <label for="default_model">Hamiltonian</label>
                    <select name="default_model" id="default_model" onchange="HideOrShowModelOptions();">
                        <option value="none" selected=$(tensor_network.default_model=="none")>
                            Custom
                        </option>
                        <option value="heisenbergMPO" selected=$(tensor_network.default_model=="heisenbergMPO")>
                            Heisenberg
                        </option>
                        <option value="hubbardMPO" selected=$(tensor_network.default_model=="hubbardMPO")>
                            Hubbard
                        </option>
                        <option value="tjMPO" selected=$(tensor_network.default_model=="tjMPO")>
                            t-J
                        </option>
                    </select>
                    <div class="hover-text">
                        <img src="/img/runner/hint.png" style="width:15px; height:auto;">
                        <span class="tooltip-text" id="right">
                            Choose the Hamiltonian system to analyze
                        </span>
                    </div>
                </div>

                <div id="non_default_model_options" name="non_default_model_options" style="padding-right:50px" class="main-text">

                    <div style="text-align:left; padding-top: 25px; padding-left:10px">
                        <label for="physical_dimension">Physical Dimension</label>
                        <input type="number" id="physical_dimension" name="physical_dimension" value=2 min=2 max=200>

                        <div class="hover-text">
                            <img src="/img/runner/hint.png" style="width:15px; height:auto;">
                            <span class="tooltip-text" id="right">
                                Dimension of upward and downward facing indices of MPO tensors
                            </span>
                        </div>
                    </div>

                    <div style="text-align:left; padding-top: 25px; padding-bottom: 25px; padding-left:10px">
                        <label for="hamiltonian_constant">Hamiltonian Constant</label>
                        <input type="number" step="any" id="hamiltonian_constant" name="hamiltonian_constant" value=1>

                        <div class="hover-text">
                            <img src="/img/runner/hint.png" style="width:15px; height:auto;">
                            <span class="tooltip-text" id="right">
                                Multiplicative constant factor, denoted J often
                            </span>
                        </div>
                    </div>
                    <div id="hamiltonian_border_div" name="hamiltonian_border_div" style="text-align:left; padding:10px; border-radius:10px">
                        <label for="num_hamiltonian_components">Number of Components</label>
                        <input
                            id="num_hamiltonian_components"
                            name="num_hamiltonian_components"
                            type="number"
                            value=1
                            min=1
                            max="12"
                            onkeyup="BuildFormFields(parseInt(this.value, 10))"
                            onmouseup="BuildFormFields(parseInt(this.value, 10))"
                        />

                            <div class="hover-text">
                                <img src="/img/runner/hint.png" style="width:15px; height:auto;">
                                <span class="tooltip-text" id="right">
                                    Select interacting terms of your Hamiltonian sum
                                </span>
                            </div>
                        <div id="hamiltonian_components"></div>
                    </div>
                </div>

                <div style="text-align:left; padding-top: 25px; padding-right:50px;" class="main-text">
                    <div id="correlation_border_div" name="correlation_border_div" style="padding:10px; border-radius:10px">
                        <label for="correlation_box">Compute Correlations</label>
                        <input type="checkbox" id="correlation_box" name="correlation_box"
                               onclick="HideOrShowCorrelationOptions()">

                        <div class="hover-text">
                            <img src="/img/runner/hint.png" style="width:15px; height:auto;">
                            <span class="tooltip-text" id="right">
                                Specify operators and correlation functions to be evaluated at all positions on the lattice
                            </span>
                        </div>
                        <div class="init-hidden" id="correlation_content" name="correlation_content">
                            <div style="text-align:left; padding-top: 25px; white-space:nowrap;">
                                <label for="correlation_matrix_op[1]">Correlation Matrix Operators</label>
                                <br>
                                <select name="correlation_matrix_op[1]" id="correlation_matrix_op[1]">
                                    <option value="Id" selected=$(tensor_network.correlation_matrix_operators[1]=="Id")>
                                        Id
                                    </option>
                                    <option value="Sp" selected=$(tensor_network.correlation_matrix_operators[1]=="Sp")>
                                        Sp
                                    </option>
                                    <option value="Sm" selected=$(tensor_network.correlation_matrix_operators[1]=="Sm")>
                                        Sm
                                    </option>
                                    <option value="Sx" selected=$(tensor_network.correlation_matrix_operators[1]=="Sx")>
                                        Sx
                                    </option>
                                    <option value="Sy" selected=$(tensor_network.correlation_matrix_operators[1]=="Sy")>
                                        Sy
                                    </option>
                                    <option value="Sz" selected=$(tensor_network.correlation_matrix_operators[1]=="Sz")>
                                        Sz
                                    </option>
                                    <option value="O" selected=$(tensor_network.correlation_matrix_operators[1]=="O")>
                                        Zeros
                                    </option>
                                </select>
                                <select name="correlation_matrix_op[2]" id="correlation_matrix_op[2]">
                                    <option value="Id" selected=$(tensor_network.correlation_matrix_operators[2]=="Id")>
                                        Id
                                    </option>
                                    <option value="Sp" selected=$(tensor_network.correlation_matrix_operators[2]=="Sp")>
                                        Sp
                                    </option>
                                    <option value="Sm" selected=$(tensor_network.correlation_matrix_operators[2]=="Sm")>
                                        Sm
                                    </option>
                                    <option value="Sx" selected=$(tensor_network.correlation_matrix_operators[2]=="Sx")>
                                        Sx
                                    </option>
                                    <option value="Sy" selected=$(tensor_network.correlation_matrix_operators[2]=="Sy")>
                                        Sy
                                    </option>
                                    <option value="Sz" selected=$(tensor_network.correlation_matrix_operators[2]=="Sz")>
                                        Sz
                                    </option>
                                    <option value="O" selected=$(tensor_network.correlation_matrix_operators[2]=="O")>
                                        Zeros
                                    </option>
                                </select>
                            </div>
                        
                            <div style="text-align:left; padding-top: 25px; white-space:nowrap;">
                                <label for="correlation_function_op[1]">Correlation Function Operators</label>
                                <br>
                                <select name="correlation_function_op[1]" id="correlation_function_op[1]">
                                    <option value="Id" selected=$(tensor_network.correlation_function_operators[1]=="Id")>
                                        Id
                                    </option>
                                    <option value="Sp" selected=$(tensor_network.correlation_function_operators[1]=="Sp")>
                                        Sp
                                    </option>
                                    <option value="Sm" selected=$(tensor_network.correlation_function_operators[1]=="Sm")>
                                        Sm
                                    </option>
                                    <option value="Sx" selected=$(tensor_network.correlation_function_operators[1]=="Sx")>
                                        Sx
                                    </option>
                                    <option value="Sy" selected=$(tensor_network.correlation_function_operators[1]=="Sy")>
                                        Sy
                                    </option>
                                    <option value="Sz" selected=$(tensor_network.correlation_function_operators[1]=="Sz")>
                                        Sz
                                    </option>
                                    <option value="O" selected=$(tensor_network.correlation_function_operators[1]=="O")>
                                        Zeros
                                    </option>
                                </select>

                                <button name="additional_op_button" type="button"
                                        onclick="CreateNewCorrelationFunctionInput()">
                                    +
                                </button>

                                <div id="additional_ops" name="additional_ops"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align:left; padding-right:50px; padding-top: 15px;" class="main-text">
                    <div id="symmetry_border_div" name="symmetry_border_div" style="padding:10px; border-radius:10px">
                        <label for="symmetry_box">Symmetry</label>
                        <input type="checkbox" id="symmetry_box" name="symmetry_box"
                               onclick="HideOrShowSymmetryElements()">

                        <div class="hover-text">
                            <img src="/img/runner/hint.png" style="width:15px; height:auto;">
                            <span class="tooltip-text" id="right">
                                Enforce a U1 or Zn symmetry on the quantum problem
                            </span>
                        </div>
                        <div class="init-hidden" id="symmetry_content" name="symmetry_content" style="margin:3px">
                            <div>
                                <div style="text-align:left; padding-top: 25px; white-space:nowrap;">
                                    <label for="sym_name">Name</label>
                                    <input type="text" id="sym_name" name="sym_name" value="Spin" placeholder="eg. Spin" required="required" pattern="[A-Za-z0-9]{1,20}">
                                </div>

                                <div style="text-align:left; padding-top: 25px; white-space:nowrap;">
                                    <label for="sym[1]">Symmetries</label>
                                    <br>
                                    <select name="sym[1]" id="sym[1]" onchange="ZnChange(1)">
                                        <option value="U1">
                                            U1
                                        </option>
                                        <option value="Zn">
                                            Zn
                                        </option>
                                    </select>
                                    <span class="init-hidden" id="Zn[1]" name="Zn[1]">
                                        <input type="number" id="Zn_val[1]" name="Zn_val[1]">
                                    </span>
                                    <button name="sym_button" type="button"
                                            onclick="CreateNewSymmetrySelect('additional_symmetries'); CreatePhysicalIndexNumberInputs();">
                                        +
                                    </button>
                                </div>

                                <div id="additional_symmetries"></div>
                            </div>

                            <div style="text-align:left; padding-top: 25px; white-space:nowrap;">
                                <label for="non_uniform_box">Non-Uniform</label>
                                <input type="checkbox" id="non_uniform_box" name="non_uniform_box"
                                       onclick="HideOrShowNonUniformElements()">
                                <br>
                                <span class="init-hidden" id="non_uniform_span" name="non_uniform_span" style="white-space:nowrap;">
                                    <label>Add New Physical Index</label>
                                    <button id="non_uniform_button" name="non_uniform_button" type="button"
                                            onclick="CreateNewPhysicalIndex(); CreatePhysicalIndexNumberInputs()">
                                        +
                                    </button>
                                </span>
                                <br>

                                <input hidden type="number" id="num_physical_indeces" name="num_physical_indeces" value="1">
                                <span id="phys_idx_span[1]" name="phys_idx_span[1]">
                                    <label>Physical Index 1</label>
                                    <br>
                                    <input type="number" id="physical_index[1][1]" name="physical_index[1][1]" required="required">
                                </span>
                                <span class="init-hidden" id="range_span[1]" name="range_span[1]" style="margin-top:2px">
                                    <label for="range_start[1]">Range 1</label>
                                    <br>
                                    <input type="number" id="range_start[1]" name="range_start[1]" required="required" min="1">
                                    <input type="number" id="range_stop[1]" name="range_stop[1]" required="required" min="1">
                                </span>


                                <div class="init-hidden" id="non_uniform_content" name="non_uniform_content" style="white-space:nowrap;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="text-align:left; padding-right:50px; padding-top: 25px; padding-left: 10px; white-space:nowrap;" class="main-text">
                    <label for="num_tensors">Number of Sites:</label>
                    <input type="number" id="num_tensors"
                           name="num_tensors" value=$(tensor_network.num_tensors)
                           min="3" max="15" size="5"
                           onkeyup="update(); uncheckCorrelationCheckboxIfTooLarge(); uncheckSymmetryCheckboxIfTooLarge();"
                           onmouseup="update(); uncheckCorrelationCheckboxIfTooLarge(); uncheckSymmetryCheckboxIfTooLarge();">
                </div>


                <!-- !!!!  TODO  !!!!! Implement this or remove it !!!! -->
                <!--               display:none for now                 -->
                <!------------>
                <!-- Method -->
                <!------------>
                <h3 style="
                    display:none;
                    text-align:center"
                >
                    Method
                </h3>

                <!-- !!!!  TODO  !!!!! Implement this or remove it !!!! -->
                <!--               display:none for now                 -->
                <div style="
                    display:none;
                    text-align:left; padding-right:50px; white-space:nowrap;"
                >
                    <label for="graph_type">Graph Type:</lable>
                    <select name="graph_type" id="graph_type" onchange="update();">
                        <option value="scalar" selected=$(tensor_network.graph_type=="scalar")>
                            Scalar
                        </option>
                        <option value="vector" selected=$(tensor_network.graph_type=="vector")>
                            Vector
                        </option>
                        <option value="matrix" selected=$(tensor_network.graph_type=="matrix")>
                            Matrix
                        </option>
                        <option value="mps" selected=$(tensor_network.graph_type=="mps")>
                            MPS
                        </option>
                        <option value="mpo" selected=$(tensor_network.graph_type=="mpo")>
                            MPO
                        </option>
                        <option value="peps" selected=$(tensor_network.graph_type=="peps")>
                            PEPS
                        </option>
                        <option value="mera" selected=$(tensor_network.graph_type=="mera")>
                            MERA
                        </option>
                    </select>
                </div>


                <!-- !!!!  TODO  !!!!! Implement this or remove it !!!! -->
                <!--               display:none for now                 -->
                <div style=
                    "display:none;
                    text-align:left; padding-right:50px; padding-top:25px"
                >
                    <label for="system">System:</lable>
                    <select name="system" id="system" onchange="SystemChange()">
                        <option value="random" selected=$(tensor_network.system=="random")>
                            Random
                        </option>
                        <option value="input" selected=$(tensor_network.system=="input")>
                            Input File
                        </option>
                    </select>

                    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types -->
                    <input type="file" class="init-hidden"
                           id="system_input_file" name="system_input_file"
                           accept=".txt, .jl" type="text"
                           onchange="SizeCheck()">
                </div>


                <!-- !!!!  TODO  !!!!! Implement this or remove it !!!! -->
                <!--               display:none for now                 -->
                <div style="
                    display:none;
                    text-align:left; padding-right:50px; padding-top:25px; white-space:nowrap;"
                >
                    <label for="method">Method:</lable>
                    <select name="method" id="method">
                        <option value="multiply" selected=$(tensor_network.method=="multiply")>
                            Multiply
                        </option>
                        <option value="contract" selected=$(tensor_network.method=="contract")>
                            Contract
                        </option>
                        <option value="svd" selected=$(tensor_network.method=="svd")>
                            SVD
                        </option>
                    </select>
                </div>

                <div style="text-align:left; padding-left:25px; padding-right:25px; padding-top:25px; margin-left:auto; margin-right:auto;">
                    <input type="submit" id="btnSubmit" name="btnSubmit" class="final-submit" value="Run Algorithm"/>
                </div>
            </form>

            <!------------>
            <!-- Output -->
            <!------------>
            <div id="measurements" name="measurements" style="display:none; text-align:left; padding-right:50px; padding-top: 25px">
                <h3 style="text-align:center">Measurements</h3>
                <div id="hamiltonian_dmrg" name="hamiltonian_dmrg" style="display:none;" value="$(hamiltonain_measurement)">
                    <h4>Hamiltonian DMRG</h4>
                    <%hamiltonain_measurement%>
                </div>
                <div id="dense_correlation_matrix" name="dense_correlation_matrix" style="display:none;" value="$(dense_rho_path)">
                    <h4>Dense Correlation Matrix</h4>
                    <a href="$(dense_rho_path)" download>
                        <p>Download Output</p>
                    </a>
                </div>
                <div id="dense_correlation_function" name="dense_correlation_function" style="display:none;" value="$(dense_correlation_path)">
                    <h4>Dense Correlation Function</h4>
                    <a href="$(dense_correlation_path)" download>
                        <p>Download Output</p>
                    </a>
                </div>

                <div id="dmrg_with_symmetries" name="dmrg_with_symmetries" style="display:none;" value="$(quantum_measurement)">
                    <h4>DMRG with Symmetries</h4>
                    <%quantum_measurement%>
                </div>
                <div id="symmetry_correlation_matrix" name="symmetry_correlation_matrix" style="display:none;" value="$(symmetry_rho_path)">
                    <h4>Symmetry Correlation Matrix</h4>
                    <a href="$(symmetry_rho_path)" download>
                        <p>Download Output</p>
                    </a>
                </div>
                <div id="symmetry_correlation_function" name="symmetry_correlation_function" style="display:none;" value="$(symmetry_correlation_path)">
                    <h4>Symmetry Correlation Function</h4>
                    <a href="$(symmetry_correlation_path)" download>
                        <p>Download Output</p>
                    </a>
                </div>
            </div>

        </div>

        <div class="container_div" style="height: 650px; padding-left: 15px; position:relative; justify-content:center; display:flex; align-items:center; background-color: white;">
            <div id="loading_div" class="init-hidden" style="text-align:center; position:absolute; z-index:2">
                <img class="loading_gif" src="/img/runner/DMRG.gif">
            </div>
            <canvas id="pictures" width="1000" height="650" style="border:1px solid"></canvas>
        <div>
    </div>

</body>

<!-- Add some spacing -->
<br><br><br><br>
</html>
